<div class="row">
    <div class="col-md-6">
        <app-header [cssClass]="'HNheader'" [heading]="'Top'">
        </app-header>
        <app-article *ngFor="let item of topHN" [url]=item.url [title]=item.title [isReddit]=False>
        </app-article>
    </div>

    <div class="col-md-6">
        <app-header [cssClass]="'HNheader'" [heading]="'Ask'">
        </app-header>
        <app-article *ngFor="let item of askHN" [url]=item.url [title]=item.title [isReddit]=False>
        </app-article>
    </div>
</div>